*{
    margin: 0;
    padding: 0;
}
body{
    background: url("background.jpg");
    background-size: 100%;
    padding: 100px;
}
.main{
    width: 400px;
    padding: 50px;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
h1{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
input{
    width: 370px;
    border: 1px solid;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
}
label{
    font-size: large;
    font-family: sans-serif;
    color: aliceblue;
}
input#submit{
    width: 100px;
    margin: 10px;
    padding: 5px;
    background-color: aquamarine;
    cursor: pointer;
}